.idea/*
config.json
drones/tests/*
*.log
*.txt
master/archive/*
master/*.json
master/lists/*
master/*.csv
master/migrations/*.json
*.csv
hygiene/yahoo-access-token-server/access-token-class-dump.dunp
